</div>
        <footer>
            <p>Created By: Bernard Calma</p>
                <!-- <img src="https://bernard-calma.github.io/My_Portfolio/public/favicon.png" alt=""> -->
                <a href="https://github.com/Bernard-Calma" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="githubIcon"></a>
                
            
        </footer>      
    </body>
</html>