</div>
        <footer>
            <p>ⓒ Bernard Calma</p>
                <!-- <img src="https://bernard-calma.github.io/My_Portfolio/public/favicon.png" alt=""> --> 
        </footer>      
    </body>
</html>