<nav>
    <div style="width: 60%;">

    </div>
    <div id="button-outer">
        <div id="button-inner">
            =
        </div>
    </div>
    <div style="width: 20%;">

    </div>
</nav>
<div class = "main">
    <div class = "main-top">
        <ul class="top-headings">
            <li>Date</li>
            <li>Amount</li>
            <li>Expense/<br/>Income</li>
            <li>Running Total</li>
            <li>Target</li>
        </ul>
    </div>