<%- include("./partials/header.ejs") %>
<!-- <div class="login">
    <form action="/plan" method="GET">
        <input type="submit" value="login">
    </form>
</div> -->
<a href="/plan">Main</a>

<ul>
    Goals:
    <li>Delete</li>
    <li>Sort By Date</li>
    <li>Login</li>
    <li>Style</li>
</ul>