<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class="main-new">
    <form action="/plan" method="POST">
        <label>
            Date: 
            <input type="date" name="date" id="date"/>
        </label>
        <label>
            Amount:
            <input type="number" name="amount" id="amount">
        </label>
        <label>
            Name: 
            <input type="text" name="name" id="name">
        </label>
        <label for="notes">Notes:</label>
        <textarea name="notes">

        </textarea>
        <input type="submit" value="OK">
    </form>
    <script src="/js/navButton.js"></script>
<%- include("./partials/footer.ejs") %>