<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class="main-new">
    <form class="frmAdd" action="/plan" method="POST">
        <input type="text" name="userId" value="<%=userId%>" hidden/>
        <label>
            Date: 
            <input type="date" name="date" id="date" required/>
        </label>
        <label>
            Amount:
            <input type="number" name="amount" id="amount" required>
        </label>
        <label>
            Name: 
            <input type="text" name="name" id="name" required>
        </label>
        <label for="notes">Notes:</label>
        <textarea name="notes"></textarea>
        <input class="btnAdd" type="submit" value="OK">
    </form>
    <script src="/js/navButton.js"></script>
<%- include("./partials/footer.ejs") %>