<%- include("../partials/header.ejs") %>

<div class="divLogin">
    <form action="/users/login" method="POST">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <div class="btnsLogin">
            <input type="submit" value="LOGIN" class = "loginButton">
            <a href="/users/register" class = "registerLink">Register Here</a>
        </div>
    </form>
    <p id="pLoginMsg"><%=loginMsg%></p>
</div>



<%- include("../partials/footer.ejs") %>