<%- include("../partials/header.ejs") %>

<div class="divLogin">
    <form action="/users/login" method="POST">
        <label>
            Username: <input type="text" name="username"/>
        </label>
        <label>
            Password: <input type="password" name="password"/>
        </label>
        <div class="btnsLogin">
            <a href="/users/register"><input type="button" value="Register"></a>
            <input type="submit" value="LOGIN">
        </div>
        
    </form>
</div>
<ul>
    Goals:
    <li>Login</li>
    <li>Style</li>
</ul>

<%- include("../partials/footer.ejs") %>