<%- include("../partials/header.ejs") %>

<h1> REGISTER </h1>

<div class="divLogin">
    <form action="/users/register" method="POST">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <input type="password" name="passwordVerify" placeholder="Verify Password" required/>
        <input type="submit" value="✓" id="btnRegister">
    </form>
    <p id="pRegisterMsg"><%=registerMsg%></p>
</div>

<%- include("../partials/footer.ejs") %>